body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
}

.win {
    color: green;
}

.lose {
    color: red;
}